:root {
  --font-color: #333;
  --bg-main-color: #f5f5f5;
  --font-color-light: #f5f5f5;
  --active-color: #1f2ca9;
  --border-color: #60615eab;
  --font-weight: 500;
  --font-weight-bold: 700;
  --font-size: 16px;
  --close-button: #ff6347;
  --visited-color: #0b4067;
}

.body {
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-rows: auto 1fr auto;
  gap: 1em;
  background-color: var(--bg-main-color);
  min-height: min-content;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.page-header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 10px;
  background: linear-gradient(90deg, rgb(195, 199, 201) 0%, rgb(190, 190, 209) 100%);
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--border-color);
  z-index: 1;
  top: 0;
  font-family: "Poppins", sans-serif;
}

.page-header .page-header__item  {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #021092;
  padding: 0 0 0 38px;
  font-family: "Poppins", sans-serif;
}

.website__name {
  cursor: pointer;
  font-size: 1.5rem;
}

#w__logo {
  font-weight: bold;
  margin-right: 3px;
  border-radius: 15px;
}

.website__owner b {
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-size: 28px;
  font-weight: 700;
}


.navigation {
  position: relative;
  grid-column: 3 / 3;
  margin-right: 5rem;
  padding: 1rem 0;
  display: block;
}

.navigation.hide {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.3s forwards;
  display: none;
}

.close {
  display: none;
}

.hamburger {
  position: absolute;
  z-index: 1;
  width: 60px;
  height: 50px;
  cursor: pointer;
  margin: 0;
  display: none;
}

.burgerButton.change {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.line1,
.line2,
.line3 {
  width: 30px;
  height: 3px;
  background: #000000;
  margin: 8px;
  font-weight: 600;
  transition: 0.4s;
  margin-left: 360px;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  gap: 18px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.navigation-list__item .navigation-list__item__link  {
  font-weight: var(--font-weight);
  display: block;
  font-size: 24px;
}

.navigation-list__item__link {
  display: block;
}

.navigation-list__item__link:visited {
  color:  var(--visited-color);
}

.navigation-list__item__link:hover,
.navigation-list__item__link:focus {
  color: var(--tertiary-color);
}

.navigation-list__item__link--active {
  color: var(--active-color);
  font-weight: var(--font-weight-bold);
  font-size: 24px;
}

a{
  text-decoration: none;
}

main {
  grid-area: main;
  min-height: 100vh;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 5rem 0;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: calc(var(--font-size) * 2);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.bio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}


.bio-section .bio-section__intro {
  text-align: center;
  margin-bottom: 15px;
}

.bio-section .bio-section__intro p {
  font-weight: var(--font-weight);
  font-size: calc(var(--font-size) * 1.7);
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
}

.bio-section__intro li {
  list-style-type:disc;
  text-align: left;
  font-weight: 600;
  font-size: calc(var(--font-size) * 1.2);
}

.bio-section__hometown {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 1rem 0;
}

.button {
  padding: 15px 30px;
  margin-bottom: 40px;
  font-size: 1.8rem;
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 30s cloud-fall infinite alternate ease-out;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.skills h2 {
  margin-bottom: 6px;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: var(--font-weight-bold);
  margin: 2.5rem 0;
  text-align: left;
}

table {
  width: 700px;
  border-collapse: collapse;
  margin: 0 auto;
}

thead {
  border: 1px solid var(--border-color);
}


thead th {
  padding: 10px;
  border: 1px solid var(--border-color);
  justify-content: space-between;

}

tbody th {
  padding: 10px;
  border: 1px solid var(--border-color);
  text-align: left;
}

td {
  padding: 10px;
  border: 1px solid var(--border-color);
  text-align: center;
}

#social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#facebook,
#linkedin,
#github {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
}

.page-footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 1rem;
  line-height: 1.4;
  color: var(--font-color);
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg, rgba(195, 199, 201, 0.8) 0%, rgba(190, 190, 209, 0.8) 100%);

}

.page-footer h2 {
  font-size: calc(var(--font-size) + 1vw);
  font-weight: var(--font-weight-bold);
}


@media all and (max-width: 500px) {
  .page-header {
    width: auto;
  }

  .navigation {
    display: none;
    float: right;
  }

  .page-header .hamburger {
    display: block;
    transform: translate(-5px, 0);
  }

  .navigation 
  .navigation-list__item 
  .navigation-list__item__link 
  .change {
    display: block;
  }

  .main {
    width: auto;
  }

  .bio-section__intro p {
    font-size: var(--font-size);
  }

  .bio-section__intro li {
    font-size: var(--font-size);
  }

  .bio-section__hometown {
    width: auto;
  }

  .skills {
    width: auto;
    margin: 0 auto;
  }

  table {
    width: auto;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .page-header {
    width: auto;
  }

  .navigation {
    display:  none;
  }

  .navigation .navigation-list .navigation-list__item__link {
    display: none;
  }

  .page-header .hamburger {
    display: block;
    transform: translate(225px, 0);
  }

  .project .project-list {
    grid-template-columns: 1fr 1fr;
  }
  
  .main {
    width: auto;
  }

  .bio-section__intro p {
    font-size: var(--font-size);
  }

  .bio-section__intro li {
    font-size: var(--font-size);
  }

  .bio-section__hometown {
    width: auto;
  }

  .skills {
    width: auto;
   
  }

  table {
    width: auto;
  }
}

/*Shared code  */
@media all and (max-width: 750px) {
  .page-header {
    width: auto;
  }

  .page-header__item {
    margin-left: -20px;
  }

  .website__owner .website__name {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-weight: 700;
  }

  .navigation {
    display: none;
    animation: bounce 0.5s ease-in-out forwards;
    width: 100%;
  }

  .close {
    display: block;
    position: relative;
    font-weight: 700;
    float: right;
    margin-right: 50px;
    font-size: 20px;
    background: red;
    color: var(--font-color-light);
    border: 1px solid var(--close-button);
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    transform: translate(0, 60px);
    z-index: 2;
  }

  .navigation.hide {
    display: block;
  }

  .navigation-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 28px;
    background: #000000;
    top: 0;
  }

  .navigation-list__item 
  .navigation-list__item__link,
  .navigation-list__item__link--active{
    color: #ffffff;
    font-size: 28px;
  }

  .navigation-list__item__link--active {
    color: var(--active-color);
  }

  .page-header .hamburger {
    display: block;
    transform: translate(-30px, 0);
  }

  .main {
    width: auto;
    justify-content: center;
    padding: 0 1rem;
  }
  
  .bio-section__intro p {
    font-size:  calc(var(--font-size) * 1.5);
  }

  .bio-section__intro ul li {
    font-size: var(--font-size);
    margin: 0 auto;
    margin-left: -1rem;
  }

  .bio-section__hometown {
    width: 100%;
    padding: 0 1rem 1rem 0;
  }

  .skills {
    width: 100%;
  }

  table {
    width: 100%;
  }
}

@media all  and (min-width: 750px) and (max-width: 1024px) {
  body {
    width: 100%;
    min-height: 100vh;
  }

  .page-header .hamburger {
    display: none;
    transform: translate(225px, 0);
  }

  .navigation {
    display: block;
    width: 100%;
  }

  .page-footer {
    margin-bottom: 12rem;
    margin-top: -5rem;
  }
  
}


@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-fall {
 0% {
  transform: rotate(180deg) translate(0, 50px);
   
  }
  100% {
    transform: translate(450px, 50px)  scale(1.5);
  }
}

@keyframes bounce {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
 }