:root {
  --bg-primary-color: #00ac00;
  --bg-main-color: #f5f5f5;
  --primary-color: #000000;
  --font-color-light: #f5f5f5;
  --border-color: #60615eab;
  --font-weight: 500;
  --font-weight-bold: 700;
  --font-size: 16px;
  --visited-color: #0b4067;
  --close-button: #ff6347;
  --active-color: #1f2ca9;
  --gradient-color: linear-gradient(90deg, rgba(4, 130, 75, 0.662) 0%, rgba(21, 86, 60, 0.8) 100%);
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  justify-content: center;
  background: var(--bg-main-color);
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.page-header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 10px;
  background: var(--bg-main-color);
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--border-color);
  z-index: 1;
  font-family: "Poppins", sans-serif;
}

.page-header .page-header__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #021092;
  padding: 0 0 0 38px;
  font-family: "Poppins", sans-serif;
}

#w__logo {
  font-weight: bold;
  margin-right: 3px;
  border-radius: 15px;
  cursor: pointer;
}

.website__owner b {
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-size: calc(var(--font-size) * 1.2);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

.navigation {
  position: relative;
  margin-right: 5rem;
  padding: 1rem 0;
  display: block;
  font-family: "Poppins", sans-serif;
}

.navigation.hide {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.3s forwards;
  display: none;
  font-family: "Poppins", sans-serif;
}

.close {
  display: none;
}

.hamburger {
  position: absolute;
  z-index: 1;
  width: 60px;
  height: 50px;
  cursor: pointer;
  margin: 0;
  display: none;
}

.burgerButton.change {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.line1,
.line2,
.line3 {
  width: 30px;
  height: 3px;
  background: #000000;
  margin: 8px;
  font-weight: 600;
  transition: 0.4s;
  margin-left: 360px;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  gap: 18px;
  font-size: 18px;
}

.navigation-list__item .navigation-list__item__link {
  font-weight: var(--font-weight);
  display: block;
  text-decoration: none;
  font-size: 20px;
}

.navigation-list__item__link {
  display: block;
}

.navigation-list__item__link:visited {
  color: var(--visited-color);
}

.navigation-list__item__link:hover,
.navigation-list__item__link:focus {
  color: var(--tertiary-color);
}

.navigation-list__item__link--active {
  color: var(--active-color);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  font-size: 20px;
}

.main {
  grid-area: main;
  height: 100%;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

 .contact {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

h1 {
  font-size: 30px;
  font-weight: var(--font-weight-bold);
  text-align: center;
  margin-top: 7rem;
}

 .contact__details {
  font-weight: 600;
  line-height: 1.6;
}

.contact__form {
  position: relative;
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  margin: 0 50px;
}


label {
  display: flex;
  flex-direction: column;
  font-size: inherit;
}

input,
textarea {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  font-size: calc(var(--font-size) * 0.9);
}

.button-primary {
  color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 25px;
  font-size: calc(var(--font-size) * 0.9);
  cursor: pointer;
  border: 1px solid var(--border-color);
  transition: opacity 0.3s ease-in-out;
  text-decoration: none;
}

.button-primary:hover, .button-primary:focus {
  opacity: 0.8;
  border: 1px solid var(--primary-color);
}

.error-message {
  color: red;
  font-size: calc(var(--font-size) * 0.9);
  margin-top: 6px;
}

button {
  width: 100px;
  margin-top: 6px;
  font-size: calc(var(--font-size) * 1.4);
  font-weight: var(--font-weight);
  background: #0720ff;
  color: var(--font-color-light);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: opacity 0.2s;
}

button:hover,
button:focus {
  opacity: 0.8;
}

#social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#facebook,
#linkedin,
#github {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
}

.page-footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 47px 20px;
  background: var(--gradient-color);
  color: var(--font-color);
  font-weight: var(--font-weight-bold);
}

.page-footer a {
  text-decoration: none;
}

.page-footer h2 {
  font-size: calc(var(--font-size) + 0.5vw);
  font-weight: var(--font-weight);
  box-shadow: var(--border-color);
}

.page-footer p span {
  font-weight: var(--font-weight-bold);
  font-style: italic;
  color: var(--font-color);
  box-shadow: var(--border-color);
}

@media all and (max-width: 500px) {
  body {
    grid-template-areas:
      "header"
      "main"
      "footer";
    min-height: auto;
    overflow-x: hidden;
    left: 0;
  }

  .page-header {
    grid-area: header;
  }

  .navigation {
    display: none;
    float: right;
    animation: bounce 0.5s ease-in-out forwards;
  }

  .page-header .hamburger {
    display: block;
    transform: translate(-5px, 0);
  }

  .navigation .navigation-list__item .navigation-list__item__link .change {
    display: block;
  }

  .main {
    grid-area: main;
    justify-content: center;
    left: 0;
  }

.contact {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
  }

 .contact__form {
    left: 0;
  }

  .contact__details{
    margin-top: 0;
  }

  input,
  textarea {
    width: 100%;
  }

  button {
    width: 100px;
  }

  .page-footer {
    grid-area: footer;
    padding: 20px;
    overflow: hidden;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  body {
    overflow: hidden;
  }

  .navigation {
    display: none;
  }

  .navigation .navigation-list .navigation-list__item__link {
    display: none;
  }

  .navigation.hide {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: transform 0.3s forwards;
    display: block;
    font-size: 28px;
  }

  .page-header .hamburger {
    display: block;
    transform: translate(225px, 0);
  }

  .close {
    display: none;
  }

  .contact {
    padding: 0 20px;
  }

  .contact__form .contact__details {
    width: auto;
    margin: 0;
    margin-top: 0;
  }

  input,
  textarea {
    width: 100%;
  }

  button {
    width: 100px;
  }

  .page-footer {
    overflow: hidden;
  }
}

@media all and (min-width: 750px) and (max-width: 1024px) {
  body {
    overflow: hidden;
  }
  .main {
    margin: 0 auto;
  }

  .contact {
    padding: 0 20px;
  }

  .contact__details {
    margin: 0;
    margin-top: 0;
  }

  input,
  textarea {
    width: 100%;
  }

  button {
    width: 100px;
  }
  .page-footer {
    overflow: hidden;
  }

}

/* Shared style */
@media all and (max-width: 750px) {
  body {
    grid-template-areas: 
      "header"
      "main"
      "footer";
    min-height: auto;
    overflow-x: hidden;
    left: 0;
  }

  .page-header {
    grid-area: header;

  }

  .page-header .page-header__item {
    padding: 10px 2rem;
    justify-content: center;
  }

  .page-header__item {
    margin-left: -30px;
  }

  .website__owner b,
  .website__name img {
    width: auto;
    font-size: 20px;
    font-weight: var(--font-weight-bold);
  }

  .navigation {
    display: none;
  }

  .close {
    display: block;
    position: relative;
    font-weight: 700;
    float: right;
    margin-right: 50px;
    font-size: 20px;
    background: var(--close-button);
    color: var(--font-color-light);
    border: 1px solid var(--close-button);
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    transform: translate(0, 60px);
    z-index: 2;
  }

  .navigation.hide {
    display: block;
    width: 100%;
  }

  .navigation-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 28px;
    background: #000000;
    top: 0;
  }

  .navigation-list__item .navigation-list__item__link,
  .navigation-list__item__link--active {
    color: #ffffff;
    font-size: 28px;
  }

  .navigation-list__item__link--active {
    color: var(--active-color);
  }

  .page-header .hamburger {
    display: block;
    transform: translate(-10px, 0);
  }

  .main {
    grid-area: main;
    width: 100%;
    overflow: hidden;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    margin-left: -10px;
  }

.contact {
    margin: 0 auto;
    width: auto;
  }

  .contact__details {
    margin-top: 0;
  }

  .contact__form {
    margin: 20px 0;
    width: 80%;
    left: 0;
  }
  label {
    padding: 0.5rem 0;
  }

  input,
  textarea {
    width: 100%;
  }

  button {
    width: 100px;
  }

  .page-footer {
    grid-area: footer;
    margin-bottom: 0;
    margin: 0;
    width: 100vw;
    overflow: hidden;
  }
}

@keyframes bounce {
  0% {
    transform: scale(0); 
  }

  60% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}