:root {
  --bg-primary-color: #0a65a7;
  --font-color-light: #f5f5f5;
  --border-color: #60615eab;
  --font-weight: 500;
  --font-weight-bold: 700;
  --font-size: 16px;
  --visited-color: #0b4067;
  --close-button: #ff6347;
  --active-color: #1f2ca9;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  background-color: var(--bg-main-color);
  min-height: min-content;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.page-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background: linear-gradient(90deg, rgba(195, 199, 201, 0.8) 0%, rgba(190, 190, 209, 0.8) 100%);
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--border-color);
  z-index: 1;
  font-family: "Poppins", sans-serif;
}

.page-header .page-header__item  {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #021092;
  padding: 0 0 0 38px;
  font-family: "Poppins", sans-serif;
}

.website__name {
  cursor: pointer;
  font-size: 1.5rem;
}

#w__logo {
  font-weight: bold;
  margin-right: 3px;
  border-radius: 15px;
}

.website__owner b {
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-size: 28px;
  font-weight: 700;
}

.navigation {
  position: relative;
  grid-column: 3 / 3;
  margin-right: 5rem;
  padding: 1rem 0;
  display: block;
  font-family: "Poppins", sans-serif;
}

.navigation.hide {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.3s forwards;
  display: none;
  font-family: "Poppins", sans-serif;
}

.close {
  display: none;
}

.hamburger {
  position: absolute;
  z-index: 1;
  width: 60px;
  height: 50px;
  cursor: pointer;
  margin: 0;
  display: none;
}

.burgerButton.change {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.line1,
.line2,
.line3 {
  width: 30px;
  height: 3px;
  background: #000000;
  margin: 8px;
  font-weight: 600;
  transition: 0.4s;
  margin-left: 360px;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  gap: 18px;
  font-size: 18px;
}

.navigation-list__item .navigation-list__item__link {
  font-weight: var(--font-weight);
  display: block;
  text-decoration: none;
  font-size: 20px;
}

.navigation-list__item__link {
  display: block;
}

.navigation-list__item__link:visited {
  color: var(--visited-color);
}

.navigation-list__item__link:hover,
.navigation-list__item__link:focus {
  color: var(--tertiary-color);
}

.navigation-list__item__link--active {
  color: var(--active-color);
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
  font-size: 20px;
}

.main {
  grid-area: main;
  margin: 0 auto;
  height: auto;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

h1 {
  font-size: 30px;
  font-weight: var(--font-weight-bold);
  text-align: center;
  margin-top: 7rem;
}

.contact__details {
  position: relative;
  margin: 0 50px;
  top: 0;
  margin-top: -200px;
  font-weight: 600;
}


.contact__form {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  padding: 10px;
  border-radius: 5px;
}

label {
  display: none;
}

#email,
#name,
#message {
  margin-top: 6px;
  font-weight: var(--font-weight);
  font-size: calc(var(--font-size) * 0.9);
}

input,
textarea {
  padding: 10px;
  margin: 10px 0;
  width: 450px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  font-size: calc(var(--font-size) * 0.9);
}

.button-primary {
  background: var(--bg-primary-color);
  color: var(--font-color-light);
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  transition: opacity 0.2s;
  text-decoration: none;
}

.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.error-message {
  color: red;
  font-size: calc(var(--font-size) * 0.9);
  margin-top: 6px;
}

button {
  margin-top: 6px;
  font-size: calc(var(--font-size) * 1.4);
  font-weight: var(--font-weight-bold);
  background: var(--bg-primary-color);
  color: var(--font-color-light);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: opacity 0.2s;
}

button:hover,
button:focus {
  opacity: 0.8;
}

#social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#facebook,
#linkedin,
#github {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
}

.page-footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: var(--font-color);
  margin-bottom: 4rem;
}

.page-footer a {
  text-decoration: none;
}

.page-footer h2 {
  font-size: calc(var(--font-size) + 1vw);
  font-weight: var(--font-weight-bold);
  box-shadow: var(--border-color);
}

.page-footer p span {
  font-weight: var(--font-weight-bold);
  font-style: italic;
  color: var(--font-color);
  box-shadow: var(--border-color);
}

@media all and (max-width: 500px) {
  .navigation {
    display: none;
    float: right;
  }

  .page-header .hamburger {
    display: block;
    transform: translate(-5px, 0);
  }

  .navigation .navigation-list__item .navigation-list__item__link .change {
    display: block;
  }

  main {
    width: 100%;
  }

  .contact {
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }

  .contact__details {
    margin: 0 auto;
    margin-top: 0;
    width: 100%;
  }

  .contact__form,
  .input-wrapper {
    width: 100%;
  }

  form input,
  textarea,
  button {
    width: 100%;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .navigation {
    display: none;
  }

  .navigation .navigation-list .navigation-list__item__link {
    display: none;
  }

  .navigation.hide {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: transform 0.3s forwards;
    display: block;
    font-size: 28px;
  }

  .page-header .hamburger {
    display: block;
    transform: translate(225px, 0);
  }

  .close {
    display: none;
  }

  .contact {
    padding: 20px;
  }

  .contact__form {
    width: auto;
  }

  .contact__details {
    margin: 0;
    margin-top: 0;
  }

  input,
  textarea,
  button {
    width: 100%;
  }
}

@media all and (min-width: 750px) and (max-width: 1024px) {
  .main {
    margin: 0 auto;
  }

  .contact {
    padding: 0 20px;
  }

  .contact__form {
    width: 100%;
  }

  .contact__details {
    margin: 0;
    margin-top: 0;
  }

  input,
  textarea,
  button {
    width: 100%;
  }

}

/* Shared style */
@media all and (max-width: 750px) {
  .page-header__item {
    margin-left: -20px;
  }

  .website__owner .website__name {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-weight: 700;
  }
  
  .navigation {
    display: none;
    animation: bounce 0.5s ease-in-out forwards;
  }

  .close {
    display: block;
    position: relative;
    font-weight: 700;
    float: right;
    margin-right: 50px;
    font-size: 20px;
    background: red;
    color: var(--font-color-light);
    border: 1px solid var(--close-button);
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    transform: translate(0, 60px);
    z-index: 2;
  }

  .navigation.hide {
    display: block;
    width: 100%;
  }

  .navigation-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 28px;
    background: #000000;
    top: 0;
  }

  .navigation-list__item 
  .navigation-list__item__link,
  .navigation-list__item__link--active{
    color: #ffffff;
    font-size: 28px;
  }

  .navigation-list__item__link--active {
    color: var(--active-color);
  }

  .page-header .hamburger {
    display: block;
    transform: translate(-30px, 0);
  }

  .main {
    width: auto;
    margin: 0 auto;
    padding: 10px;
  }

  .contact {
    flex-direction: column;
    padding: 0;
  }

  .contact__details {
    margin-top: 0;
  }

  .contact__form {
    padding: 20px;
  }

  form input,
  textarea,
  button {
    width: 100%;
  }
}

@keyframes bounce {
  0% {
    transform: scale(0);
  }

  60% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}