:root {
  --primary-color: #087445;
  --background-color: #005a3f;
  --bg-primary-color: #1d712d;
  --bg-secondary-color: transparent;
  --tertiary-color: #1f2ca9;
  --font-color: #333;
  --font-color-light: #f5f5f5;
  --active-color: #1f2ca9;
  --close-button: #ff6347;
  --bg-main-color: #f5f5f5;
  --visited-color: #0b4067;
  --border-color: #60615eab;
  --font-weight: 500;
  --font-weight-bold: 700;
  --font-size: 16px;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: var(--font-weight);
  font-style: normal;
  font-size: var(--font-size);
  line-height: 1.6;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1em;
  background-color: var(--bg-main-color);
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

.page-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background: linear-gradient(90deg, rgba(195, 199, 201, 0.8) 0%, rgba(190, 190, 209, 0.8) 100%);
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--border-color);
  z-index: 1;
  font-family: "Poppins", sans-serif;
}

.page-header .page-header__item  {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #021092;
  padding: 0 0 0 38px;
  font-family: "Poppins", sans-serif;
}

.website__name {
  cursor: pointer;
  font-size: 1.5rem;
}

#w__logo {
  font-weight: bold;
  margin-right: 3px;
  border-radius: 15px;
}

.website__owner b {
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-size: 28px;
  font-weight: 700;
}


@supports (display: grid) {
  .navigation {
    position: relative;
    grid-column: 3 / 3;
    margin-right: 5rem;
    padding: 1rem 0;
    display: block;
    font-family: "Poppins", sans-serif;
  }

  .navigation.hide {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: transform 0.3s forwards;
    display: none;
    font-family: "Poppins", sans-serif;
  }

  .close {
    display: none;
    font-weight: 700;
    float: right;
    margin-right: 50px;
    margin-top: 20px;
    font-size: 20px;
    border: 1px solid var(--font-color);
    border-radius: 50%;
    padding: 10px 15px;
  }

  .hamburger {
    position: absolute;
    z-index: 1;
    width: 60px;
    height: 50px;
    cursor: pointer;
    margin: 0;
    display: none;
  }

  .burgerButton.change {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
  }

  .line1,
  .line2,
  .line3 {
    width: 30px;
    height: 3px;
    background: #000000;
    margin: 8px;
    font-weight: 600;
    transition: 0.4s;
    margin-left: 360px;
  }

 .navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
    height: 100%;
    gap: 20px;
    font-family: "Poppins", sans-serif;
  }

  .navigation-list__item .navigation-list__item__link  {
    font-weight: var(--font-weight);
    display: block;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
  }

  .navigation-list__item__link {
    display: block;
  }
  
  .navigation-list__item__link:visited {
    color:  var(--visited-color);
  }
  
  .navigation-list__item__link:hover,
  .navigation-list__item__link:focus {
    color: var(--tertiary-color);
  }
  
  .navigation-list__item__link--active {
    color: var(--active-color);
    font-weight: var(--font-weight-bold);
    text-decoration: underline;
    font-size: 20px;
  }

  #main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 52vh;
    padding: 25px;
  }

  .profile .profile__info .profile__portrait {
    flex-basis: 250px;
    flex-shrink: 1;
    flex-grow: 1;
  }

  .profile__info {
    margin: 0;
    padding: 10px;
    border-radius: 10px;
  }

  .profile__portrait {
    width: 20%;
    height: 1%;
    margin: 20px;
    border-radius: 50%;
  }

  #greetings {
    font-size: calc(var(--font-size) + 1vw);
    font-weight: var(--font-weight-bold);
  }

  #profession {
    font-size: calc(var(--font-size) + 0.1vw);
    font-weight: var(--font-weight-bold);
    color: var(--tertiary-color);
  }

  p {
    font-size: var(--font-size);
  }

  p span {
    font-weight: bold;
    color: var(--font-color);
  }

  #icon {
    font-size: calc(12px + 1vw);
    margin-right: 4px;
    font-weight: var(--font-weight-bold);
    color: #ffffff;
  }

  .button-primary {
    display: inline-block;
    font-size: var(--font-size);
    font-weight: var(--font-weight-bold);
    background: var(--bg-primary-color);
    color: var(--font-color-light);
    padding: 8px 20px;
    border-radius: 15px;
    font-family: inherit;
    cursor: pointer;
    transition: opacity 0.2s;
  }

  .button-primary:hover,
  .button-primary:focus {
    opacity: 0.8;
  }

  .button-secondary {
    display: inline-block;
    width: auto;
    align-items: center;
    justify-content: center;
    background:  #0720ff;  
    color: #ffffff;
    padding: 12px 60px;
    border-radius: 15px;
    font-size: calc(var(--font-size) + 0.5vw);
    font-family: inherit;
    font-weight: var(--font-weight-bold);
    box-shadow: 4px 3px 19px 0px rgba(0, 0, 0, 0.3);
    transition: opacity 0.2s;
    text-decoration: none;
  }

  .button-secondary:hover,
  .button-secondary:focus {
    opacity: 0.8;
    box-shadow: none;
  }
}

.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: var(--font-color);
}

.page-footer h2 {
  font-size: calc(var(--font-size) + 1vw);
  font-weight: var(--font-weight-bold);
  box-shadow: var(--border-color);
}

.page-footer a {
  color: var(--font-color);
  text-decoration: none;
}

.page-footer p span {
  font-weight: var(--font-weight-bold);
  font-style: italic;
  color: var(--font-color);
  box-shadow: var(--border-color);
  
}

#social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#facebook,
#linkedin,
#github {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .navigation {
    display: none;
    animation: bounce 0.5s ease-in-out forwards;
  }

  .navigation.hide {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
    display: block;
  }

  .navigation-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 2m;
    list-style: none;
    width: 100%;
    height: 100%;
    gap: 20px;
    font-size: 28px;
  }

  .page-header .hamburger {
    display: block;
    transform: translate(-25px, 0);
  }

  .close {
    display: block;
  }

  .profile {
    flex-direction: column;
  }

  .profile__info {
    text-align: center;
  }

  .profile__portrait {
    width: 60%;
  }
}

@media screen and (min-width: 500px) and (max-width: 750px) {
  .page-header .navigation {
    display: none;
  }

  .navigation.hide {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: transform 0.3s forwards;
    display: block;
    font-size: 28px;
  }

  .navigation-list .navigation-list__item__link {
    display: block;
  }

  .close {
    display: none;
  }

  .page-header .hamburger {
    display: block;
    transform: translate(225px, 0);
  }

  .profile {
    flex-direction: row;
  }
}

/*Shared code  */
@media all and (max-width: 750px) {
  .page-header {
    width: 100%;
  }

  .page-header__item {
    margin-left: -20px;
  }

  .website__owner .website__name {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 700;
  }

  .navigation {
    display: none;
    animation: bounce 0.5s ease-in-out forwards;

  }

  .close {
    display: block;
    position: relative;
    font-weight: 700;
    float: right;
    margin-right: 50px;
    font-size: 20px;
    background: red;
    color: var(--font-color-light);
    border: 1px solid var(--close-button);
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    transform: translate(0, 60px);
    z-index: 2;
  }

  .navigation.hide {
    display: block;
  }

   .navigation-list  {
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 28px;
    background: #000000;
    color: #ffffff;
    top: 0;
  }

  .navigation-list__item 
  .navigation-list__item__link,
  .navigation-list__item__link--active{
    color: #ffffff;
    font-size: 28px;
  }

  .navigation-list__item__link--active {
    color: var(--active-color);
  }

  h1 {
    font-size: calc(var(--font-size) * 1.5);
  }

  #icon {
    font-size: calc(16px + 2vw);
    margin-right: 4px;
    font-weight: var(--font-weight-bold);
    color: #000000;
  }

  .button-secondary {
    font-size: 22px;
    padding: 14px 20px;
    border: #081a8e;
    color: #000000;
    text-decoration: none;
  }
}

@media all  and (min-width: 750px) and (max-width: 1024px) {
  body {
    min-height: 100vh;
  }
  .page-header .hamburger {
    display: none;
    transform: translate(225px, 0);
  }

  .navigation {
    display: block;
  }

  .navigation .navigation-list
   .navigation-list__item__link {
    display: block;
  }

  main {
    padding: 0;
  }

  .profile {
    flex-direction: row;
    margin-top: -10rem;
  }


  .page-footer {
    margin-bottom: 12rem;
    margin-top: -5rem;
  }
  
}


@keyframes bounce {
  0% {
    transform: scale(0);
  }

  60% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}